{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Shu's blog</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'blog/css/default.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
   <link rel="stylesheet" href="{% static 'blog/css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/colorful.css' %}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'blog/js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}" >

    <style>
        span.highlighted {
            color: red;
        }
    </style>

</head>

<body>

   <!-- Header
   ================================================== -->
   <header>

      <div class="row">

         <div class="twelve columns">

            <div class="logo">
               <a href="{% url 'blog:home' %}"><img alt="" src="{% static 'blog/images/logo.png' %}"></a>
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">

	               <li><a href="{% url 'blog:home' %}">Home</a></li>
                   <li class="current"><a href="{% url 'blog:index' %}">Blogs</a></li>
                   <li><a href="{% url 'blog:projects' %}">Projects</a></li>
{#	               <li><span><a href="blog.html">Blog</a></span>#}
{#                     <ul>#}
{#                        <li><a href="blog.html">Blog Index</a></li>#}
{#                        <li><a href="single.html">Post</a></li>#}
{#                     </ul>#}
{#                  </li>#}
{#                  <li><span><a href="portfolio-index.html">Portfolio</a></span>#}
{#                     <ul>#}
{#                        <li><a href="portfolio-index.html">Portfolio Index</a></li>#}
{#                        <li><a href="portfolio.html">Portfolio Entry</a></li>#}
{#                     </ul>#}
{#                  </li>#}
	               <li><a href="{% url 'blog:about' %}">About</a></li>
                   <li><a href="{% static 'blog/images/Shu Liao.pdf' %}">Resume</a></li>
{#                  <li><a href="contact.html">Contact</a></li>#}
{#                  <li><a href="styles.html">Features</a></li>#}

               </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

         </div>

      </div>

   </header> <!-- Header End -->

   <!-- Page Title
   ================================================== -->
   <div id="page-title">

      <div class="row">

         <div class="ten columns centered text-center">
            {% block pagetitle %}

            {% endblock %}

{#            <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi#}
{#            enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. </p>#}
         </div>

      </div>

   </div> <!-- Page Title End-->

   <!-- Content
   ================================================== -->
   <div class="content-outer">

      <div id="page-content" class="row">

         {% block main %}
            {% endblock main %}

         <div id="secondary" class="four columns end">

            <aside id="sidebar">

               <div class="widget widget_search">
                  <h5>Search</h5>
                   <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                  <input class="text-search" type="text" name="q" required onfocus="if (this.value === 'Search here...') { this.value = ''; }" onblur="if(this.value === '') { this.value = 'Search here...'; }" value="Search here...">
                  <input type="submit" class="submit-search" value="">
                </form>
               </div>

            {% block toc %}
            {% endblock toc %}

               <div class="widget widget_categories">
                  <h5 class="widget-title">Recent Posts</h5>
                  <ul class="link-list cf">
                      {% get_recent_posts as posts %}
                      {% for pos in posts %}
                     <li><a href="{{ pos.get_absolute_url }}">{{ pos.title }}</a></li>
                      {% endfor %}
                  </ul>
		         </div>

               <div class="widget widget_categories">
                  <h5 class="widget-title">Categories</h5>
                  <ul class="link-list cf">
                      {% get_categories as cats %}
                      {% for cat in cats %}
                     <li><a href="{% url 'blog:category' cat.pk %}">{{ cat.name }} ({{ cat.post_set.count }})</a></li>
                      {% endfor %}
                  </ul>
               </div>

               <div class="widget widget_tag_cloud">
                  <h5 class="widget-title">Tags</h5>
                  <div class="tagcloud cf">
                      {% get_tags as tgs %}
                      {% for tg in tgs %}
                     <a href="{% url 'blog:tags' tg.pk %}">{{ tg.name }} ({{ tg.post_set.count }})</a>
                     {% endfor %}
                  </div>
               </div>

{#               <div class="widget widget_photostream">#}
{#                  <h5>Photostream</h5>#}
{#                  <ul class="photostream cf">#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                     <li><a href="#"><img src="images/thumb.jpg" alt="thumbnail"></a></li>#}
{#                  </ul>#}
{#	            </div>#}

            </aside>

         </div> <!-- Secondary End-->

      </div>

   </div> <!-- Content End-->

   <!-- Tweets Section
   ================================================== -->
{#   <section id="tweets">#}
{##}
{#      <div class="row">#}
{##}
{#         <div class="tweeter-icon align-center">#}
{#            <i class="fa fa-twitter"></i>#}
{#         </div>#}
{##}
{#         <ul id="twitter" class="align-center">#}
{#            <li>#}
{#               <span>#}
{#               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.#}
{#               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum#}
{#               <a href="#">http://t.co/CGIrdxIlI3</a>#}
{#               </span>#}
{#               <b><a href="#">2 Days Ago</a></b>#}
{#            </li>#}
{#            <!--#}
{#            <li>#}
{#               <span>#}
{#               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.#}
{#               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum#}
{#               <a href="#">http://t.co/CGIrdxIlI3</a>#}
{#               </span>#}
{#               <b><a href="#">3 Days Ago</a></b>#}
{#            </li>#}
{#            -->#}
{#         </ul>#}
{##}
{#         <p class="align-center"><a href="#" class="button">Follow us</a></p>#}
{##}
{#      </div>#}
{##}
{#   </section> <!-- Tweets Section End-->#}

    <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="footer-nav">
					<li><a href="{% url 'blog:home' %}">Home</a></li>
              	<li><a href="{% url 'blog:index' %}">Blogs</a></li>
              	<li><a href="{% url 'blog:projects' %}">Projects</a></li>
              	<li><a href="{% url 'blog:about' %}">About</a></li>
{#              	<li><a href="#">Contact.</a></li>#}
{#               <li><a href="#">Features.</a></li>#}
			   </ul>

            <ul class="footer-social">
{#               <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#               <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
               <li><a href="https://www.linkedin.com/in/shu-liao-68b234152/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/ikaroshu/"><i class="fa fa-github"></i></a></li>
{#               <li><a href="#"><i class="fa fa-rss"></i></a></li>#}
            </ul>

<ul class="copyright">
               <li>&copy; Shu Liao</li>
{#               <li>Design by <a href="http://www.styleshout.com/">Styleshout</a></li>               #}
            </ul>

         </div>

         <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="{% static 'blog/js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static 'blog/js/jquery.flexslider.js' %}"></script>
   <script src="{% static 'blog/js/doubletaptogo.js' %}"></script>
   <script src="{% static 'blog/js/init.js' %}"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    {% block addtion_script %}
    {% endblock %}

</body>

</html>