{% extends 'blog/base.html' %}
{% load static %}
{% block pagetitle %}
<h1>{{ post.title }}</h1>
    <p class="post-meta">

                     <time class="date" datetime="2014-01-14T11:24">{{ post.created_time }}</time>
                     /
                     <span class="categories">
                     <a href="{% url 'blog:category' post.category.pk %}">{{ post.category }}</a>
                     </span>

                  </p>
{% endblock %}
{% block toc %}
<div class="widget widget_categories">
                  <h5 class="widget-title">Table of contents</h5>
                  {{ post.toc|safe }}
		         </div>
{% endblock %}
{% block main %}
<div id="primary" class="eight columns">

            <article class="post">

{#               <div class="entry-header cf">#}
{##}
{#                  <h1>{{ post.title }}</h1>#}
{##}
{#                  <p class="post-meta">#}
{##}
{#                     <time class="date" datetime="2014-01-14T11:24">{{ post.modified_time }}</time>#}
{#                     /#}
{#                     <span class="categories">#}
{#                     <a href="#">{{ post.category }}</a>#}
{#                     </span>#}
{##}
{#                  </p>#}
{##}
{#               </div>#}

{#               <div class="post-thumb">#}
{#                  <img src="images/post-image/post-image-1300x500-01.jpg" alt="post-image" title="post-image">#}
{#               </div>#}

               <div class="post-content">

                  <p class="lead">{{ post.body|safe }}</p>

                  <p class="tags">
  			            <span>Tagged in </span>:
                      {% for tag in post.tags.all %}<a href="{% url 'blog:tags' tag.pk %}">{{ tag.name }}</a>, {% endfor %}
  			         </p>

{#                  <div class="bio cf">#}
{##}
{#                     <div class="gravatar">#}
{#                        <img src="images/author-img.png" alt="">#}
{#                     </div>#}
{#                     <div class="about">#}
{#                        <h5><a title="Posts by John Doe" href="#" rel="author">John Doe</a></h5>#}
{#                        <p>Jon Doe is lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate#}
{#                        cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate#}
{#                        <a href="#">cursus</a> a sit <a href="#">amet mauris</a>. Morbi elit consequat ipsum.</p>#}
{#                     </div>#}
{##}
{#                  </div>#}

                  <ul class="post-nav cf">
                      {% for pr in post.prev %}
  			            <li class="prev"><a rel="prev" href="{{ pr.get_absolute_url }}"><strong>Previous Article</strong> {{ pr.title }}</a></li>
                      {% endfor %}
                        {% for nx in post.next %}
  				         <li class="next"><a rel="next" href="{{ nx.get_absolute_url }}"><strong>Next Article</strong> {{ nx.title }}</a></li>
                        {% endfor %}
  			         </ul>

               </div>

            </article> <!-- post end -->

            <!-- Comments
            ================================================== -->
            <div id="comments">

               <h3>{{ comment_list.count }} Comments</h3>

               <!-- commentlist -->
               <ol class="commentlist">

                   {% for com in comment_list %}

                  <li class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="{% static 'blog/images/user-01.png' %}" alt="">
                     </div>

                     <div class="comment-info">
                        <cite>{{ com.name }}</cite>

                        <div class="comment-meta">
                           <time class="comment-time" datetime="2014-01-14T23:05">{{ com.created_time }}</time>
{#                           <span class="sep">/</span><a class="reply" href="#">Reply</a>#}
                        </div>
                     </div>

                     <div class="comment-text">
                        <p>{{ com.text }}</p>
                     </div>

                  </li>
{#                       {% empty %}#}
{#                       <p>No comments</p>#}
                   {% endfor %}


               </ol> <!-- Commentlist End -->


               <!-- respond -->
               <div class="respond">

                  <h3>Leave a Comment</h3>

            <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
              {% csrf_token %}

                <div class="cf">
                  <label for="{{ form.name.id_for_label }}">Name <span class="required">*</span></label>
                  {{ form.name }}
                  {{ form.name.errors }}
                </div>
                <div class="message cf">
                  <label for="{{ form.text.id_for_label }}">Message：</label>
                  {{ form.text }}
                  {{ form.text.errors }}
                </div>
                  <button type="submit" class="submit">Submit</button>
                 <!-- row -->
            </form>
               </div> <!-- Respond End -->



            </div>  <!-- Comments End -->

         </div>
{% endblock main %}

{% block addtion_script %}
<script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}