{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Shu's blog</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{#    linkedin#}
<meta property="og:title" content="Shu's blog"/>
<meta property="og:image" content="https://i.imgur.com/8bFm0MM.png?1"/>
<meta property="og:description" content="My data science blog"/>
<meta property="og:url" content="https://shusblog.dev/" />
	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'blog/css/default.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
   <link rel="stylesheet" href="{% static 'blog/css/media-queries.css' %}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'blog/js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header>

      <div class="row">

         <div class="twelve columns">

            <div class="logo">
               <a href="{% url 'blog:home' %}"><img alt="" src="{% static 'blog/images/logo.png' %}"></a>
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">

	               <li class="current"><a href="{% url 'blog:home' %}">Home</a></li>
                   <li><a href="{% url 'blog:index' %}">Blogs</a></li>
                   <li><a href="{% url 'blog:projects' %}">Projects</a></li>
{#	               <li><span><a href="blog.html">Blog</a></span>#}
{#                     <ul>#}
{#                        <li><a href="blog.html">Blog Index</a></li>#}
{#                        <li><a href="single.html">Post</a></li>#}
{#                     </ul>#}
{#                  </li>#}
{#                  <li><span><a href="portfolio-index.html">Portfolio</a></span>#}
{#                     <ul>#}
{#                        <li><a href="portfolio-index.html">Portfolio Index</a></li>#}
{#                        <li><a href="portfolio.html">Portfolio Entry</a></li>#}
{#                     </ul>#}
{#                  </li>#}
	               <li><a href="{% url 'blog:about' %}">About</a></li>
{#                  <li><a href="contact.html">Contact</a></li>#}
{#                  <li><a href="styles.html">Features</a></li>#}

               </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

         </div>

      </div>

   </header> <!-- Header End -->

   <!-- Page Title
   ================================================== -->
   <div id="page-title">

      <div class="row">

         <div class="ten columns centered text-center">
            <h1>Welcome to my blog!</h1>

            <p>In this blog, I share my notes on math/physics/data science, problems I found interesting to me, and my projects on physics and data science problems. </p>
         </div>

      </div>

   </div> <!-- Page Title End-->

   <!-- Intro Section
   ================================================== -->
{#   <section id="intro">#}
{##}
{#      <!-- Flexslider Start-->#}
{#	   <div id="intro-slider" class="flexslider">#}
{##}
{#		   <ul class="slides">#}
{##}
{#			   <!-- Slide -->#}
{#			   <li>#}
{#				   <div class="row">#}
{#					   <div class="twelve columns">#}
{#						   <div class="slider-text">#}
{#							   <h1>Free amazing site template<span>.</span></h1>#}
{#							   <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi#}
{#                        enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. lacus sit amet luctus lobortis, dolores et quas molestias excepturi#}
{#                        enim tellus ultrices elit.</p>#}
{#						   </div>#}
{#                     <div class="slider-image">#}
{#                        <img src="images/sliders/home-slider-image-01.png" alt="" />#}
{#                     </div>#}
{#					   </div>#}
{#				   </div>#}
{#			   </li>#}
{##}
{#            <!-- Slide -->#}
{#			   <li>#}
{#				   <div class="row">#}
{#					   <div class="twelve columns">#}
{#						   <div class="slider-text">#}
{#							   <h1>Responsive + HTML5 + CSS3<span>.</span></h1>#}
{#							   <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum#}
{#                        deleniti eos et accusamus. amet consequat enim elit noneas sit amet luctu. lacus sit amet luctus lobortis.#}
{#                        Aenean condimentum, lacus sit amet luctus.</p>#}
{#						   </div>#}
{#                     <div class="slider-image">#}
{#                        <img src="images/sliders/home-slider-image-02.png" alt="" />#}
{#                     </div>#}
{#					   </div>#}
{#				   </div>#}
{#			   </li>#}
{##}
{#		   </ul>#}
{##}
{#	   </div> <!-- Flexslider End-->#}
{##}
{#   </section> <!-- Intro Section End-->#}

   <!-- Info Section
   ================================================== -->
   <!--<section id="info">

      <div class="row">

         <div class="bgrid-quarters s-bgrid-halves">

           <div class="columns">
              <h2>Clean & Modern.</h2>

              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
           </div>

           <div class="columns">
              <h2>Responsive.</h2>

              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
           </div>

           <div class="columns s-first">
              <h2>HTML5 + CSS3.</h2>

              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
           </div>

           <div class="columns">
              <h2>Free of Charge.</h2>

              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
           </div>

           </div>

      </div>

   </section>--> <!-- Info Section End-->

   <!-- Journal Section
   ================================================== -->
   <section id="journal">

      <div class="row">
         <div class="twelve columns align-center">
            <h1>My latest posts</h1>
         </div>
      </div>

      <div class="blog-entries">
          {% for post in post_list %}
         <!-- Entry -->
         <article class="row entry">

            <div class="entry-header">

               <div class="permalink">
                  <a href="{{ post.get_absolute_url }}"><i class="fa fa-link"></i></a>
               </div>

               <div class="ten columns entry-title pull-right">
                  <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
               </div>

               <div class="two columns post-meta end">
                  <p>
                  <time datetime="2014-10-31" class="post-date">{{ post.created_time|date:"M j, Y" }}</time>
{#                  <span class="dauthor">By Sakura Haruno</span>#}
                  </p>
               </div>

            </div>

            <div class="ten columns offset-2 post-content">
               <p>{{ post.excerpt }}
               <a class="more-link" href="{{ post.get_absolute_url }}">Read More<i class="fa fa-arrow-circle-o-right"></i></a></p>
            </div>

         </article> <!-- Entry End -->
          {% empty %}
          <div>Nothing to show!</div>
          {% endfor %}

      </div> <!-- Entries End -->

   </section> <!-- Journal Section End-->

      <!-- Works Section
   ================================================== -->
   <section id="works">

      <div class="row">

         <div class="twelve columns align-center">
            <h1>Some of my recent projects</h1>
         </div>

         <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

                {% for proj in proj_list %}
    		   <div class="columns portfolio-item">
               <div class="item-wrap">
    				   <a href="{{ proj.get_absolute_url }}">
                     <img alt="" src="{{ proj.image }}">
                     <div class="overlay"></div>
                     <div class="link-icon"><i class="fa fa-link"></i></div>
                  </a>
    					<div class="portfolio-item-meta">
    					   <h5><a href="{{ proj.get_absolute_url }}">{{ proj.name }}</a></h5>
                     <p>/ {% for tg in proj.skills.all %}{{ tg.name }} / {% endfor %}</p>
    					</div>
               </div>
    			</div>
         {% endfor %}

         </div>

      </div>

   </section> <!-- Works Section End-->

   <!-- Call-To-Action Section
   ================================================== -->
{#   <section id="call-to-action">#}
{##}
{#      <div class="row">#}
{##}
{#         <div class="eight columns offset-1">#}
{##}
{#            <h1><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Host This Template on Dreamhost.</a></h1>#}
{#            <p>Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.#}
{#					Get <span>$50 off</span> when you sign up with the promocode <span>STYLESHOUT</span>. #}
{#					<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. --></p>#}
{##}
{#         </div>#}
{##}
{#         <div class="three columns action">#}
{##}
{#            <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" class="button">Sign Up Now</a>#}
{##}
{#         </div>#}
{##}
{#      </div>#}
{##}
{#   </section> <!-- Call-To-Action Section End-->#}

   <!-- Tweets Section
   ================================================== -->
{#   <section id="tweets">#}
{##}
{#      <div class="row">#}
{##}
{#         <div class="tweeter-icon align-center">#}
{#            <i class="fa fa-twitter"></i>#}
{#         </div>#}
{##}
{#         <ul id="twitter" class="align-center">#}
{#            <li>#}
{#               <span>#}
{#               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.#}
{#               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum#}
{#               <a href="#">http://t.co/CGIrdxIlI3</a>#}
{#               </span>#}
{#               <b><a href="#">2 Days Ago</a></b>#}
{#            </li>#}
{#            <!--#}
{#            <li>#}
{#               <span>#}
{#               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.#}
{#               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum#}
{#               <a href="#">http://t.co/CGIrdxIlI3</a>#}
{#               </span>#}
{#               <b><a href="#">3 Days Ago</a></b>#}
{#            </li>#}
{#            -->#}
{#         </ul>#}
{##}
{#         <p class="align-center"><a href="#" class="button">Follow us</a></p>#}
{##}
{#      </div>#}
{##}
{#   </section> <!-- Tweet Section End-->#}



   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="footer-nav">
					<li><a href="{% url 'blog:home' %}">Home</a></li>
              	<li><a href="#">Blogs</a></li>
              	<li><a href="#">Projects</a></li>
              	<li><a href="#">About</a></li>
{#              	<li><a href="#">Contact.</a></li>#}
{#               <li><a href="#">Features.</a></li>#}
			   </ul>

            <ul class="footer-social">
{#               <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#               <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
               <li><a href="https://www.linkedin.com/in/shu-liao-68b234152/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/ikaroshu/"><i class="fa fa-github"></i></a></li>
               <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

<ul class="copyright">
               <li>&copy; Shu Liao</li>
{#               <li>Design by <a href="http://www.styleshout.com/">Styleshout</a></li>               #}
            </ul>

         </div>

         <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="{% static 'blog/js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static 'blog/js/jquery.flexslider.js' %}"></script>
   <script src="{% static 'blog/js/doubletaptogo.js' %}"></script>
   <script src="{% static 'blog/js/init.js' %}"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

</body>

</html>